<?xml version="1.0"?>
<configuration>
  <connectionStrings>   
    <!--<add name="MSSql12155ConnectionString" connectionString="Data Source=62.149.153.12;Initial Catalog=MSSql12155;Persist Security Info=True;User ID=MSSql12155;Password=50a715f9;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <add name="MSSql12155ConnectionString" connectionString="Data Source=STAN\SQLEXPRESS;Initial Catalog=MSSql12155;Persist Security Info=True;MultipleActiveResultSets=True;User ID=MSSql12155;Password=50a715f9" providerName="System.Data.SqlClient"/> 
    <!--<add name="MSSql12155ConnectionString" connectionString="Data Source=DESKTOP-4MLA928\SQLEXPRESS;Initial Catalog=MSSql12155;Persist Security Info=True;MultipleActiveResultSets=True;User ID=MSSql12155;Password=50a715f9" providerName="System.Data.SqlClient"/>-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <system.web>
    <globalization uiCulture="it" culture="it-IT"/>
    <xhtmlConformance mode="Transitional"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Engine, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
      <!--<codeSubDirectories>
        <add directoryName="CodiceVB"/>
        <add directoryName="CodiceCSharp"/>
      </codeSubDirectories>-->
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <!-- Costanti applicative -->
    <!--  Error Messages -->
    <add key="MSGNO_AUTHORIZATION_FAILED" value="300"/>
    <add key="DATASOURCE" value="STAN\SQLEXPRESS"/>
    <!--<add key="DATASOURCE" value="CASA-PC\SQLEXPRESS"/> -->
    <!--<add key="DATASOURCE" value="62.149.153.12"/>-->
    <add key="AUTH_ADMIN" value="4"/>
    <add key="AUTH_MANAGER" value="3"/>
    <add key="AUTH_EXTERNAL" value="1"/>
    <add key="AUTH_EMPLOYEE" value="2"/>
    <add key="MYDEBUG" value="on"/>
    <!--TESTO BOTTONI -->
    <add key="CREATE_TXT" value="crea"/>
    <add key="CANCEL_TXT" value="annulla"/>
    <add key="DELETE_TXT" value="cancella"/>
    <add key="BACK_TXT" value="indietro"/>
    <add key="SAVE_TXT" value="salva"/>
    <add key="EDIT_TXT" value="aggiorna"/>
    <add key="EXPORT_TXT" value="esporta su file"/>
    <add key="FILTER_TXT" value="filtra"/>
    <add key="EXEC_TXT" value="esegui"/>
    <add key="REPORT_TXT" value="genera report"/>
    <add key="RESET_TXT" value="reset"/>
    <!--GESTIONE BONUS -->
    <add key="TICKET_REST_PROJECT" value="35"/>
    <add key="TIPO_BONUS_TRAVEL" value="1"/>
    <add key="TIPO_BONUS_TKTREST" value="2"/>
    <add key="TICKET_REST_EXPENSE" value="9"/>
    <add key="FESTIVI_PROJECT" value="43"/>
    <!--GESTIONE RICEVUTE -->
    <add key="PATH_RICEVUTE" value="/timereport/_public/RICEVUTE/"/>
    <!--REPORT REVENUE -->
    <add key="CONTRATTO_FIXED" value="2"/>
    <!-- PAGE SIZE -->
    <add key="GRID_PAGE_SIZE" value="25"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>