<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MSSql12155ConnectionString" connectionString="Data Source=95.110.230.190;database=MSSql12155_test;Persist Security Info=True;User ID=MSSql12155  ;Password=50a715f9;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <!--<add name="MSSql12155ConnectionString" connectionString="Data Source=62.149.153.12;Initial Catalog=MSSql12155;Persist Security Info=True;User ID=MSSql12155;Password=50a715f9;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/> 
    <add name="MSSql12155ConnectionString" connectionString="Data Source=STAN\SQLEXPRESS;Initial Catalog=MSSql12155;Persist Security Info=True;MultipleActiveResultSets=True;User ID=MSSql12155;Password=50a715f9" providerName="System.Data.SqlClient"/>
    <add name="MSSql12155ConnectionString" connectionString="Data Source=DESKTOP-4MLA928\SQLEXPRESS;Initial Catalog=MSSql12155;Persist Security Info=True;MultipleActiveResultSets=True;Pooling=false;User ID=MSSql12155;Password=50a715f9" providerName="System.Data.SqlClient"/>-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--<globalization uiCulture="it" culture="it-IT"/>  IMPOSTATO DA APPLICAZIONE IN BASE ALL'UTENTE  -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <xhtmlConformance mode="Transitional"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
      <assemblies>
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
    <httpRuntime requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <!-- Costanti applicative -->
    <!--  Attiva richiesta assenza -->
    <add key="LEAVE_ON" value="false"/>
    <!--  Error Messages -->
    <add key="MSGNO_AUTHORIZATION_FAILED" value="300"/>
    <!--<add key="FORMATODATA" value="IT"/>-->
    <add key="FORMATODATA" value="US"/>
    <!--<add key="DATASOURCE" value="PERFORMA-94AE23\SQLEXPRESS"/>-->
    <add key="AUTH_ADMIN" value="5"/>
    <add key="AUTH_MANAGER" value="4"/>
    <add key="AUTH_TEAMLEADER" value="3"/>
    <add key="AUTH_EXTERNAL" value="1"/>
    <add key="AUTH_EMPLOYEE" value="2"/>
    <add key="DATASOURCE" value="95.110.230.190"/>
    <add key="MYDEBUG" value="off"/>
    <!--TESTO BOTTONI -->
    <add key="CREATE_TXT" value="crea"/>
    <add key="CANCEL_TXT" value="annulla"/>
    <add key="DELETE_TXT" value="cancella"/>
    <add key="SAVE_TXT" value="salva"/>
    <add key="BACK_TXT" value="indietro"/>
    <add key="EDIT_TXT" value="aggiorna"/>
    <add key="REFRESH_TXT" value="refresh"/>
    <add key="EXPORT_TXT" value="download"/>
    <add key="FILTER_TXT" value="filtra"/>
    <add key="EXEC_TXT" value="esegui"/>
    <add key="REPORT_TXT" value="report"/>
    <add key="RESET_TXT" value="reset"/>
    <add key="APPROVE_TXT" value="approva"/>
    <add key="REJECT_TXT" value="rifiuta"/>
    <!--GESTIONE BONUS -->
    <add key="TICKET_REST_PROJECT" value="35"/>
    <add key="TIPO_BONUS_TRAVEL" value="1"/>
    <add key="TIPO_BONUS_TKTREST" value="2"/>
    <add key="TICKET_REST_EXPENSE" value="9"/>
    <add key="FESTIVI_PROJECT" value="43"/>
    <!--GESTIONE RICEVUTE -->
    <add key="PATH_RICEVUTE" value="/public/RICEVUTE/"/>
    <!--REPORT REVENUE -->
    <add key="CONTRATTO_FIXED" value="2"/>
    <!-- DIRECTORY IMPORT UPLOAD SPESE -->
    <add key="FolderPath" value="/public/"/>
    <!-- PAGE SIZE -->
    <add key="GRID_PAGE_SIZE" value="25"/>
    <!-- TIPO PROGETTO PER ESTRAZIONE REPORT ORE E SPESE  -->
    <add key="PROGETTO_CHARGEABLE" value="1"/>
    <add key="PROGETTO_BUSINESS_DEVELOPMENT" value="2"/>
    <add key="PROGETTO_INTERNAL_INVESTMENT" value="3"/>
    <add key="PROGETTO_INFRASTRUCTURE" value="4"/>
    <!-- LOGIN PAGE -->
    <add key="LOGIN_PAGE" value="/timereport/default.aspx"/>
    <!-- CONTROLLO CHIUSURA -->
    <add key="CODICI_FERIE" value="( 'ZZ80101','ZZ80121','ZZ80122','ZZ80201','ZZ80202' ,'ZZ80301' )"/>
    <!-- DASHBOARD -->
    <add key="CODICI_TRAINING" value="3"/>
    <add key="CODICI_ASSENZE" value="5"/>
    <!-- RAGIC -->
    <add key="RAGICURL" value="https://eu2.ragic.com"/>
    <add key="APIURL" value="aeonvis/ragichr/1/"/>
    <add key="APIKEY" value="Basic dlhiK2p0VVVxZkg4ZUN4V1A1YW5RYUlVc1NsVk5vQVQ4ODVFUHRrYTZBZllsNk9UWGRWNFdqT0RUODZLbHJCNEZhQWg5TldxcUJJPQ=="/>
    <!-- per escludere giorno dal controllo ticket -->
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="TimereportAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service"/>
      </service>
      <service name="Timereport">
        <endpoint address="" behaviorConfiguration="TimereportAspNetAjaxBehavior" binding="webHttpBinding" contract="Timereport"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <!--<runtime>
    -->
  <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>-->
  <!--
  </runtime>-->
</configuration>