<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Email</title>

    <table border="0" style="border-bottom: 1px solid; width: 596px; height: 63px;" align="center">
        <tbody>
            <tr style="height: 18px;">
                <td style="width: 33.3333%; height: 18px;"><img src="https://www.aeonvis.it/timereport/images/logo.gif" alt="" /></td>
                <td style="width: 33.3333%; height: 18px;">
                    <h2 style="text-align: center;"><strong>%subject%</strong></h2>
                </td>
                <td style="width: 33.3333%; height: 18px; text-align: right;">%creationDate%</td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <table style="width: 596px;" border="0" cellspacing="0" cellpadding="5px" align="center">
        <tbody>
            <tr style="height: 18px; background-color: #abebc6;">
                <td style="width: 205.6px; height: 25px;"><strong>Dati richiesta</strong></td>
                <td style="width: 389.6px; height: 25px;">&nbsp;</td>
            </tr>
            <tr style="height: 18px; background-color: #eafaf1;">
                <td style="width: 205.6px; height: 18px;">Consulente:</td>
                <td style="width: 389.6px; height: 18px;">%personName%</td>
            </tr>
            <tr style="height: 18px; background-color: #eafaf1;">
                <td style="width: 205.6px; height: 18px;">Periodo:</td>
                <td style="width: 389.6px; height: 18px;"><strong>%periodo%</strong></td>
            </tr>
            <tr style="height: 18px; background-color: #eafaf1;">
                <td style="width: 205.6px; height: 18px;">Ore:</td>
                <td style="width: 389.6px; height: 18px;">%ore%</td>
            </tr>
            <tr style="height: 18px; background-color: #eafaf1;">
                <td style="width: 205.6px; height: 18px;">Causale:</td>
                <td style="width: 389.6px; height: 18px;">%causale%</td>
            </tr>
            <tr style="height: 18px; background-color: #eafaf1;">
                <td style="width: 205.6px; height: 18px;">Commento:</td>
                <td style="width: 389.6px; height: 18px;">%comment%</td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <table style="height: 115px; width: 596px;" border="0" cellspacing="0" cellpadding="5px" align="center">
        <tbody>
            <tr style="height: 18px;">
                <td style="width: 205.6px; height: 25px; background-color: #f7dc6f;"><strong>Stato richiesta</strong></td>
                <td style="width: 389.6px; height: 25px; background-color: #f7dc6f;">&nbsp;</td>
            </tr>
            <tr style="height: 18px; background-color: #fcf3cf;">
                <td style="width: 205.6px; height: 18px;">Stato:</td>
                <td style="width: 389.6px; height: 18px;"><strong>%approvalStatusDescription%</strong></td>
            </tr>
            <tr style="height: 18px; background-color: #fcf3cf;">
                <td style="width: 205.6px; height: 18px;">Manager:</td>
                <td style="width: 389.6px; height: 18px;">%manager%</td>
            </tr>
            <tr style="height: 18px; background-color: #fcf3cf;">
                <td style="width: 205.6px; height: 18px;">Notificato a:</td>
                <td style="width: 389.6px; height: 18px;">%mailLista%</td>
            </tr>
            <tr style="height: 18px; background-color: #fcf3cf;">
                <td style="width: 205.6px; height: 18px;">Nota:</td>
                <td style="width: 389.6px; height: 18px;">%approvalText1%</td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <table style="width: 596px;" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
            <tr>
                <td style="height: 18px;">%link%</td>
            </tr>
        </tbody>
    </table>


</head>
</html>