BODY{
	font-family : Arial, Helvetica, sans-serif;
	background-color : White;
	color : Black;
	font-size : 11px;
	margin : 0px;
}

.ItemSelected {
	font-family : Arial, Helvetica, sans-serif;
	color : Black;
	background-color : #FF9933;	
	font-size : 11px;
}

.FormButton {
	background-color : Silver;
	border : 1px solid Black;
	color : #000000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	padding-left : 5px;
	padding-right : 5px;
	font-weight : bold;
}

.FormInput {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : White;
	border : 1px solid Black;
	color : #000000;
	padding-left : 4px;
}

.FormInputDisabled {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	background-color : #EFEDDE;
	border : 1px solid Black;
	color : #000000;
	padding-left : 4px;
}

.BoxDialogo {
	border : 1 solid Black;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
}

.BoxDialogo TD { /* used for input */
	background-color : #D4D4D4;
	padding-left : 5px;
	padding-right : 5px;
}	

.BoxDialogo TH {
	font-weight : bold;
	background-color : #FF9933;
	text-align : left;
	color : #666666;
	padding-bottom : 2px;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 2px;
	border-bottom : 1 solid Black;
}

.TabellaForm {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	border : 1 solid Black;
}

.TabellaForm TD { /* used for input */
	background-color : #D4D4D4;
	padding: 2px 5px 2px 5px;
}	

.TabellaForm TH {
	font-weight : bold;
	background-color : #FF9933;
	color : #666666;
	padding-bottom : 2px;
	padding-left : 5px;
	padding-right : 20px;
	padding-top : 2px;
	text-align : left;
}

.BarraTop { /* used for input */
	background-color : #FF9933;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	padding-right : 10px;
}	

.GridView
{
    /* lista elementi asp.net */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.DetailsView
{
    /* Scheda asp.net */
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.TabellaLista {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.TabellaLista TD { /* used for input */
	background-color : #D4D4D4;
	padding: 2px 5px 2px 5px;
}	

.TabellaLista TH {
	font-weight : bold;
	background-color : #FF9933;
	color : #666666;
	padding-left : 5px;
	padding-right : 5px;
	text-align : left;
}

.TabellaReport{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.TabellaReport TD {
	background-color : #FFFFFF;
	padding: 2px 5px 2px 5px;
	border: 1pt solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	vertical-align: top;
}	

.TabellaReport TH {
	font-weight : bold;
	color : #000000;
	padding-left : 5px;
	padding-right : 5px;
	border: medium solid;
}



.WorkDays {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;	
	background-color : #D4D4D4;
	color : #666666;
	padding-left : 5px;
	padding-right : 5px;
	font-weight : bold;
}

.TabellaBianca {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
}

.Riquadro{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;	
	border : 1 solid Black;
	padding: 5px;
}

A {
	color : #666666;
}

A:visited {
	color : #666666;
}

.hours {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;	
	padding-left : 5px;
	padding-right : 5px;
	vertical-align : top;
}

.hours A {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;	
	padding-left : 5px;
	padding-right : 5px;
	font-weight : bold;
}

.HoliDays {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;	
	background-color : #FF9933;
	color : #666666;
	padding-left : 5px;
	padding-right : 5px;
	font-weight : bold;
}

B {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;	
	color : #666666;
	font-weight : bold;
}

.GridView
{
    /* lista elementi asp.net */
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    left: 50px;
    position: relative;
}

.DetailsView
{
    /* Scheda asp.net */
    border-color: #000000;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    background-color: <%= sColorBack %>;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    top: 30px;
    left: 50px;
    position: relative;
}

.GridView TH
{
    background-color: #FFFFFF;
    font-weight: bold;
    color: #000000;
}

.topbar
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: <%= sColorMain %>;
    text-align: right;
    top: 0px;
    left: 0px;
    width: 760px;
    height: 30px;
    display:table-cell;
    vertical-align:middle;
}